
{% extends 'base.html' %}

{% block content %}


<hr>

<div class="row">
    <p>Новинки</p>
    {% for each in object_list %}
    {% if each.book_is_new is True %}
    <div class="col">
        <div class="card" style="width: 13rem;">
            <img src="/media/{{ each.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">{{ each.price|floatformat:2 }} руб.</p>
                {% if each.book_available is True %}
                <li class="text-primary">Есть на складе</li>
                {% else %}
                <li class="text-danger">Нет на складе !</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
    <p>Бестселлер</p>
    {% for each in object_list %}
    {% if each.book_is_bestseller is True %}
    <div class="col">
        <div class="card" style="width: 13rem;">
            <img src="/media/{{ each.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">{{ each.price|floatformat:2 }} руб.</p>
                {% if each.book_available is True %}
                <li class="text-primary">Есть на складе</li>
                {% else %}
                <li class="text-danger">Нет на складе !</li>
                {% endif %}<br>
                {% if each.book_is_bestseller is True %}
                <li class="text-primary">Бестселлер</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
    {% for each in object_list %}
    <div class="col">
        <div class="card" style="width: 13rem;">
            <img src="/media/{{ each.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">{{ each.price|floatformat:2 }} руб.</p>                
                {% if each.book_available is True %}
                <li class="text-primary">Есть на складе</li>
                {% else %}
                <li class="text-danger">Нет на складе !</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

